@import '../../Style/GlobalStyle.scss';

@mixin text_decor($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-family: $fontPoppins;
}


.main_logo {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-image: url('../Style_Page/img/Back_Log.png');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.form_signup {
    width: 55%;
    height: 100%;
    background: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    position: fixed;
    left: 47%;
    overflow: hidden;
}

.signup {
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // right: 191px;
}


.cont_logo {
    width: 18%;
    height: 13%;
    background-image: url('../../MainPage/Style_main/Logo.png');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    right: 0;

}

.logo {
    margin: 10px 7% 0 0;
}

.main_text {
    margin-top: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: flex-start;
    @include text_decor($red_color, 36px, 700)
}

.inp_group {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    @include text_decor(black, 14px, 400);
    margin: 188px 0 0px 0;

    input {
        padding-left: 12px;
        color: #656773;
        width: 70%;
        height: 40px;
        border-radius: 8px;
        box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
        border: 0;
        // margin-bottom: 20px;
    }

    input::placeholder {
        padding-left: 20px;
    }

    input:focus {
        box-shadow: 0px 3px 8px -1px rgba(120, 38, 32, 0.50), 0px 1px 15px 0px rgba(209, 241, 17, 0.50);
        outline: none;
    }

    label {
        width: 70%;
        margin-bottom: 4px;
        align-self: center;
        text-align: start;
        margin-top: 20px;
    }

    .eye_cont {
        position: absolute;
        top: 310px;
        right: 131px;
    }

}

.confirm {
    position: absolute;
    bottom: 4px;
    right: 131px;
}

svg:hover {
    path {
        fill: $red-color;
    }
}

label {
    margin-bottom: 5px;
}

#email::placeholder {
    display: flex;
    padding-left: 35px;
    background-image: url(./img/mail.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    background-position: 0px;
}

#password::placeholder {
    display: flex;
    padding-left: 35px;
    background-image: url(./img/password.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    background-position: 0px;

}

#password_reset::placeholder {
    display: flex;
    padding-left: 35px;
    background-image: url(./img/password.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    background-position: 0px;

}


// .confirm {
//     position: relative;

//     svg {
//         position: absolute;
//         top: -29px;
//         left: 183px;
//     }
// }

#error {
    width: 54%;
    align-self: flex-start;
    color: $red-color;
    display: none;
}
.group_err{
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}
#not_error {
    align-self: flex-start;
    color: $red-color;
    display: none;
}

.btn_signup {
    width: 70%;

    input {
        margin-top: 50px;
        width: 100%;
        height: 60px;
        background-color: $red-color;
        border-radius: 32px;
        border: 0;
        cursor: pointer;
        box-shadow: 0px 5px 14px 0px rgba(120, 38, 32, 0.25);
        @include text_decor(white, 16px, 500)
    }
    input:disabled{
        background-color: rgba(123, 50, 45, 0.533);
    }
    input:hover:disabled{
        background-color: rgba(123, 50, 45, 0.533);
        color: white;
    }
    input:hover {
        background-color: $yellow-color;
        color: $red-color;
        box-shadow: 0px 5px 14px 0px rgba(120, 38, 32, 0.25);

    }

}

.footer_sign {
    // margin-top: 15px;
    // height: 150px;
    width: 55%;
    position: fixed;
    bottom: 4px;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
}

@media (min-width: 900px) and (max-width: 1125px) {
    .inp_group {
        input {
            width: 70%;
        }
    }

    .cont_logo {
        width: 20%;
        height: 13%;
        right: 23px;
        margin-right: 30px;
    }
    .inp_group{
       .eye_cont{
        right: 94px;
        svg{
            width: 15px;
            height: 15px;
        }
    } 
    }
    
    .confirm{   
        right: 94px;
    }

}

@media (min-width: 220px) and (max-width: 980px) {
    .main_logo {
        width: 100%;
        height: 100%;
        background-image: none;
    }
    .main_text{
        margin-top: 10%;
    }
    .form_signup {
        width: 100%;
        height: 100%;
        background: white;
        position: fixed;
        overflow: hidden;
        left: 0;
    }

    .inp_group {
        .eye_cont {
            right: 17%;
            top: 309px;
        }
    }
        .confirm{
            right: 17%;
        }
    .cont_logo {
        width: 25%;
        right: 0px;
    }

    .footer_sign {
        width: 100%;
    }
}


@media (min-width: 220px) and (max-width:425px) {

    .cont_logo {
        width: 34%;
        height: 7%;
    }

    .form_signup {
        display: flex;
        flex-direction: column;
    }

    .main_text {
        font-size: 24px;
        margin-top: 15%;
        align-self: center;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .inp_group {
        margin-top: 191px;

        input {
            width: 75%;
            height: 32px;
        }

        label {
            margin-top: 30px;
            width: 75%;
            font-size: 14px;
        }

        .eye_cont {
            svg {
                width: 15px;
                height: 15px;
            }

            top:324px;
            right: 15%;
        }
    }
    .confirm{
        right: 15%;
        svg{
            width: 15px;
            height: 15px;
        }
    }

    .reset_pass {
        width: 75%;
        font-size: 14px;
        line-height: 0px;
    }

    .btn_signup {
        width: 75%;

        input {
            width: 100%;
            height: 40px;
        }
    }

    .footer_sign {
        font-size: 12px;
    }


}



@media (min-width: 1500px) and (max-width: 3900px) {
    .inp_group{
    .eye_cont{
        right: 17%;
    }}
    .confirm{
        right: 17%;
    }
}






